// HEADER
header.header
  .section
    a.logo(href='http://craftml.io/') CraftML
    nav.aligned.right
      ul.mainmenu
        li
          a(href='language/') Docs  
        li
          a(href='tutorials/', target="tutorials") Tutorials          
        li
          a(href='https://github.com/sikuli/craftml') Github
